@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #239b46;
    align-items: center;
    justify-content: center;
    background-color: #c6ddb3;
}

.container .paragraph {
    padding: 5px 0 5px 10px;
}

.container {
    width: 400px;
    margin: auto;
    background-color: #fff;
    font-family: 'Quicksand';
}

.container h1 {
    background-color: yellow;
    padding: 10px;
    align-items: center;
    font-size: 30px;
    font-family: 'Rubik Dirt';
    align-items: center;
}

.table {
    width: 100%;
    background-color: #239b46;
    color: white;
    border-radius: 25px;
    padding: 10px;
}

.table tr td {
    padding: 0;
}

.table .indent {
    padding-left: 20px;
}

.table td {
    padding: 5px;
}

.table2 {
    margin: 5px;
    padding: 0 15px 15px 15px;
}

.table2 tr td {
    width: 5%;
}

.table2 .indent {
    padding-left: 20px;
}